body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto;
}

.task-card:hover {
  cursor: grab;
}


.modal-title button {
  border: none;
}

.modal-footer {
  display: flex;
  justify-content: center;
}

#title-and-date {
  display: flex;
  justify-content: space-around;
}

#title-and-date input {
  max-height: 30px;
}